/* Encode */

@charset 'UTF-8';

/* Import SCSS partial files*/

@import 'scss/partials/fonts';
@import 'scss/partials/variables';
@import 'scss/partials/config';
@import 'scss/partials/mixins';
@import 'scss/partials/reset';

@import 'scss/partials/grids';
@import 'scss/components/cards';

@import 'scss/components/buttons';

/* Header */

header {
    width: 100vw;
    height: 60px;
    line-height: 60px;
    padding: 0 32px;
    position: fixed;
    z-index: 1;

    nav {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 1.25rem;
        }
    
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 16px;

            @include for-mobiles{
                display: none;
    
            }
    
            li {
                a {
                    position: relative;
                    color: $white;
    
                    &.active {
                        text-decoration: underline;
                    }               
                    
                    &::before{
                        content: "";
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        background-color: $white;
                        transform: scaleX(0);
                        transition: transform 0.4s ease;
                        margin-bottom: 2px;
                    }
                
                    &:hover::before {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

.toggle{
    background-color: $white;
    box-shadow: 0 0 5px lightgray;

    a {
        color: $black;

        &::before {
            background-color: $black;
        }
    }
}

/* Footer */

footer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 5vh;

    background-color: $black;
    color: $white;
}

/* All section */

section {
    padding-bottom: 32px;

    &>h2 {
        font-size: 2rem;
        text-align: center;
        padding: 32px 0;
    }
}

/* Little presentation section */

section:nth-of-type(1) {
    width: 100vw;
    height: 100vh;
    padding-top: 40vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    div {

        &:first-of-type{
            width: 40vw;
            height: max-content;
            margin-left: 8vw;
            font-size: 1.15rem;
            padding: 64px;
            border-radius: 10px;
            box-shadow: inset 0 0 5px lightgray;

            p {
                padding-top: 16px;
                color: $primary;

                a {
                    text-decoration: underline;
                }
            }
        }

        &.deco-home {
            width: 45vw;
            height: 100vh;
            margin-top: -60vh;
            margin-right: -6vw;
            border-radius: 40% 0 0 20%;
            overflow-x: visible;
            transform: rotate(-70deg);

            @include transform(rotate, -70deg);
            
            @include bg-gradient($primary);

            img {
                transform: rotate(70deg);
                width: 40%;
                margin-top: -80px;
                margin-left: -80px;
                border-radius: 20px;
                box-shadow: -5px 5px 5px lightgray;
            }
        }
        
        
    }
}

/* Little About */

.little-about{
    display: flex;
    justify-content: center;
    gap: 128px;

    div {
        width: 30%;
        overflow: visible;

        &:first-of-type {
            display: flex;
            flex-direction: row;
            place-items: center; 
            gap: 16px;
            width: auto;

            i {
                display: flex;
                justify-content: center;
                place-items: center;
                width: 65px;
                height: 65px;
                border-radius: 100px;
                background-color: aliceblue;
                box-shadow: inset 0 0 5px lightgrey;
                color: $primary;
                transition: 0.3s;

                &:hover {
                    transform: scale(115%);
                }
            }
        }

        &:last-of-type {
            gap: 16px;
        }
    }

}

/* Title in top of page like blog and projects */

.title-page{
    padding-top: 15vh;
    padding-bottom: 5vh;
    text-align: center;
    font-size: 3rem;
}