/* Encode */

@charset 'UTF-8';

/* Import SCSS partial files*/

@import 'scss/partials/variables';
@import 'scss/partials/config';
@import 'scss/partials/mixins';
@import 'scss/partials/reset';

@import 'scss/partials/grids';
@import 'scss/components/cards';

@import 'scss/components/buttons';

/* Body and scroll bar */

body{
    min-height: 100vh;
    background-color: $light;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 100px;
}

/* Header */

header {
    width: 100vw;
    height: 60px;
    line-height: 60px;
    padding: 0 32px;
    position: fixed;
    z-index: 5; 

    @include for-tablets {
        background-color: $light;
        box-shadow: 0 0 5px $medium;   
    }

    .burger {
        display: none;
        transition: 0.3s;

        @include for-tablets {
            display: flex;
            flex-direction: column;
            gap: 4px;


            height: max-content;

            margin: auto 0;

            &>div{
                width: 34px;
                height: 4px;
                border-radius: 100px;
                background-color: $dark;
            }
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        
        @include for-tablets {
            flex-direction: column;
        }

        div:first-of-type {
            display: flex;
            justify-content: space-between;
        }

        p {
            font-size: 1.25rem;
        }
    
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 16px;

            @include for-tablets{
                display: none;
                flex-direction: column;
                position: fixed;
                background-color: $light;
                margin-top: 60px;
                
                width: 100vw;
                box-shadow: 0 5px 5px $medium;
            }
    
            li {
                a {
                    position: relative;
                    color: $light;              
                    
                    &::before{
                        content: "";
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        background-color: $light;
                        transform: scaleX(0);
                        transition: transform 0.4s ease;
                    }
                
                    &:hover::before {
                        transform: scaleX(1);
                    }

                    @include for-tablets {
                        display: block;
                        z-index: -1;
                        color: $dark;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.toggle{
    background-color: $light;
    box-shadow: 0 0 5px $medium;
    transition: 0.3s;

    a {
        color: $dark;

        &::before {
            background-color: $dark;
        }
    }
}

.other-pages{
    a {
        color: $dark;

        &::before{
            background-color: $dark;
        }
    }
}

/* Footer */

footer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 32px;

    background-color: $dark;
    color: $light;

    position: sticky;
    top: 100%;
}

/* All section */

section {
    padding-bottom: 32px;

    &>h2 {
        font-size: 2rem;
        text-align: center;
        padding: 32px 0;
    }
}

/* Little presentation section */

section:nth-of-type(1) {
    width: 100vw;
    height: 100vh;
    padding-top: 40vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    @include for-tablets {
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
    }

    @include for-mobiles {
        padding-top: 100px;
    }

    div {

        &:first-of-type{
            width: 40vw;
            height: max-content;
            margin-left: 8vw;
            font-size: 1.15rem;
            padding: 64px;
            border-radius: 10px;
            box-shadow: inset 0 0 5px $medium;
            background-color: $light;

            @include for-tablets {
                width: 80%;
                margin: 0 auto;
                position: relative;
                z-index: 1;
                font-size: 1rem;
                margin-top: -200px;
            }

            @include for-mobiles{
                margin-top: 0;
            }

            p {
                padding-top: 16px;
                color: $primary;

                a {
                    text-decoration: underline;
                }
            }
        }

        &.deco-home {
            width: 750px;
            height: 900px;
            margin-top: -500px;
            margin-right: -200px;
            border-radius: 40% 0 0 20%;
            overflow-x: visible;
            transform: rotate(-70deg);

            @include transform(rotate,-70deg);
            
            @include bg-gradient($primary);
            box-shadow: inset 0 0 5px darken($primary, 25%);

            @include query(1400px) {
                margin-right: -400px;
                margin-top: -700px;
            }

            @include for-tablets{
                width: 500px;
                height: 500px;
                position: relative;
                margin-left: 700px;
                margin-top: -800px;

                img {
                    display: none;
                }
            }

            @include query(800px) {
                margin-left: 500px;
                margin-bottom: 600px;
            }

            @include for-mobiles {
                display: none;
            }

            img {
                transform: rotate(70deg);
                width: 35%;
                margin-top: -80px;
                margin-left: -80px;
                border-radius: 20px;
                box-shadow: -3px 3px 8px $medium;
            }
        }
    }
}

/* Little About */

.about{
    display: flex;
    justify-content: center;
    gap: 128px;
    font-size: 1.15rem;

    @include for-tablets {
        flex-direction: column-reverse;
        gap: 32px;
    }

    div {
        width: 30%;
        overflow: visible;

        @include for-tablets {
            width: 80%;
            margin: 0 auto;
            justify-content: center;
        }

        &:first-of-type {
            width: 40%;
            display: flex;
            flex-direction: row;
            place-items: center; 
            gap: 16px;
            width: auto;

            flex-wrap: wrap;

            i {
                display: flex;
                justify-content: center;
                place-items: center;
                width: 64px;
                height: 64px;
                border-radius: 100px;
                background-color: $light;
                box-shadow: inset 0 0 5px $medium;
                color: $primary;
                transition: 0.3s;

                &:hover {
                    transform: scale(115%);
                    box-shadow: 0 0 5px $medium;
                }
            }
        }

        &:last-of-type {
            display: flex;
            flex-direction: column;
            gap: 16px;

            box-shadow: inset 0 0 5px $medium;
            padding: 32px;
            border-radius: 10px;

            p {
                color: $primary;
            }

            @include for-tablets {
                text-align: center;
            }
        }
    }

}

/* Title in top of page like blog and projects */

.title-page{
    padding-top: 15vh;
    padding-bottom: 5vh;
    text-align: center;
    font-size: 3rem;

    @include for-mobiles {
        font-size: 2rem;
    }
}

/* My last project in index */

/* My contacts */

.contact {
    div {
        display: flex;
        justify-content: center;
        gap: 32px;
        overflow: visible;

        @include for-tablets {
            flex-direction: column;
        }

        a {
            width: max-content;
            padding: 8px 16px;
            display: flex;
            justify-content: center;
            place-items: center;
            gap: 16px;
            font-size: 1.2rem;

            box-shadow: inset 0 0 5px $medium;
            border-radius: 100px;
            transition: 0.3s;

            @include for-tablets {
                margin: 0 auto;
            }

            &:hover {
                transform: scale(105%);
                box-shadow: 0 0 5px $medium;
            }

            i {
                color: $primary;
            }
        }
    }
}