*{
    margin: 0;
    padding: 0;
}

:root{
    --black: #2e2e2e;
    --white: rgb(219, 220, 220);
}

.override_body{
    background-color: var(--black);
}

.override_body .page-title {
    color: var(--white);
}

.newalert-info{
    background-color: #eceff6;
    border-color: #006eff;
    color: #ff0000;
    background-color: #1d1d1d;
}

.breadcrumb.override_box{
    background-color: var(--black);
    color: var(--white);
    border: 1px solid white;
    box-shadow: 0px 0px 5px white;
}