/* Encode */
/* Import SCSS partial files*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
:root {
  font-size: 16px;
  font-family: "Comfortaa";
  font-weight: 500;
}

/* Reset CSS */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.grid {
  width: max-content;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 64px;
  overflow: initial;
  justify-content: center;
  /* Change coming in futur */
}
@media screen and (max-width: 1380px) {
  .grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}
@media screen and (max-width: 860px) {
  .grid {
    grid-template-columns: 90%;
  }
}

.cards {
  max-width: 400px;
  height: 500px;
  background-color: #525ecc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px #92949c;
  color: #f4f5f8;
  opacity: 0;
  transition: 0.3s;
}
@media screen and (max-width: 1380px) {
  .cards {
    margin: 0 auto;
  }
}
.cards:hover {
  transform: scale(102%);
}
.cards div {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}
.cards div:first-of-type {
  height: 50%;
  background-color: white;
}
.cards div:first-of-type img {
  object-fit: contain;
}
@media screen and (max-width: 600px) {
  .cards div:first-of-type img {
    height: 200px;
  }
}
.cards div:last-of-type {
  padding: 16px 32px;
}
.cards div:last-of-type p {
  text-align: center;
}
.cards div:last-of-type a {
  color: #282828;
  text-decoration: underline;
}

button, .button {
  border: none;
  font-size: 1rem;
  padding: 8px 16px;
  margin-top: 8px;
  border-radius: 20px;
  background-color: #525ecc;
  color: #f4f5f8;
  box-shadow: 0 0 5px aliceblue;
  border: 2px solid #525ecc;
  transition: 0.3s;
  font-family: "Comfortaa";
  font-weight: bolder;
}
button:hover, .button:hover {
  background-color: aliceblue;
  color: #525ecc;
}

/* Body and scroll bar */
body {
  min-height: 100vh;
  background-color: #f4f5f8;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #525ecc;
  border-radius: 100px;
}

/* Header */
header {
  width: 100vw;
  height: 60px;
  line-height: 60px;
  padding: 0 32px;
  position: fixed;
  z-index: 1;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav p {
  font-size: 1.25rem;
}
header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 16px;
}
@media screen and (max-width: 1024px) {
  header nav ul {
    display: none;
  }
}
header nav ul li a {
  position: relative;
  color: #f4f5f8;
}
header nav ul li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #f4f5f8;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}
header nav ul li a:hover::before {
  transform: scaleX(1);
}

.toggle {
  background-color: #f4f5f8;
  box-shadow: 0 0 5px #92949c;
  transition: 0.3s;
}
.toggle a {
  color: #282828;
}
.toggle a::before {
  background-color: #282828;
}

.other-pages a {
  color: #282828;
}
.other-pages a::before {
  background-color: #282828;
}

/* Footer */
footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 32px;
  background-color: #282828;
  color: #f4f5f8;
  position: sticky;
  top: 100%;
}

/* All section */
section {
  padding-bottom: 32px;
}
section > h2 {
  font-size: 2rem;
  text-align: center;
  padding: 32px 0;
}

/* Little presentation section */
section:nth-of-type(1) {
  width: 100vw;
  height: 100vh;
  padding-top: 40vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
section:nth-of-type(1) div:first-of-type {
  width: 40vw;
  height: max-content;
  margin-left: 8vw;
  font-size: 1.15rem;
  padding: 64px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px #92949c;
  background-color: #f4f5f8;
}
section:nth-of-type(1) div:first-of-type p {
  padding-top: 16px;
  color: #525ecc;
}
section:nth-of-type(1) div:first-of-type p a {
  text-decoration: underline;
}
section:nth-of-type(1) div.deco-home {
  width: 750px;
  height: 900px;
  margin-top: -500px;
  margin-right: -200px;
  border-radius: 40% 0 0 20%;
  overflow-x: visible;
  transform: rotate(-70deg);
  transform: rotate -70deg;
  -webkit-transform: rotate -70deg;
  -moz-transform: rotate -70deg;
  -ms-transform: rotate -70deg;
  background: linear-gradient(#525ecc, #2a348e);
  background: -webkit-linear-gradient(left, #525ecc, #2a348e);
  background: -moz-linear-gradient(left, #525ecc, #2a348e);
  background: -ms-linear-gradient(left, #525ecc, #2a348e);
  box-shadow: inset 0 0 5px #242d7a;
}
section:nth-of-type(1) div.deco-home img {
  transform: rotate(70deg);
  width: 35%;
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 20px;
  box-shadow: -3px 3px 8px #92949c;
}

/* Little About */
.about {
  display: flex;
  justify-content: center;
  gap: 128px;
  font-size: 1.15rem;
}
@media screen and (max-width: 1024px) {
  .about {
    flex-direction: column-reverse;
    gap: 32px;
  }
}
.about div {
  width: 30%;
  overflow: visible;
}
@media screen and (max-width: 1024px) {
  .about div {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
  }
}
.about div:first-of-type {
  width: 40%;
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 16px;
  width: auto;
  flex-wrap: wrap;
}
.about div:first-of-type i {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background-color: #f4f5f8;
  box-shadow: inset 0 0 5px #92949c;
  color: #525ecc;
  transition: 0.3s;
}
.about div:first-of-type i:hover {
  transform: scale(115%);
  box-shadow: 0 0 5px #92949c;
}
.about div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: inset 0 0 5px #92949c;
  padding: 32px;
  border-radius: 10px;
}
.about div:last-of-type p {
  color: #525ecc;
}
@media screen and (max-width: 1024px) {
  .about div:last-of-type {
    text-align: center;
  }
}

/* Title in top of page like blog and projects */
.title-page {
  padding-top: 15vh;
  padding-bottom: 5vh;
  text-align: center;
  font-size: 3rem;
}
@media screen and (max-width: 600px) {
  .title-page {
    font-size: 2rem;
  }
}

/* My last project in index */
/* My contacts */
.contact div {
  display: flex;
  justify-content: center;
  gap: 32px;
  overflow: visible;
}
@media screen and (max-width: 1024px) {
  .contact div {
    flex-direction: column;
  }
}
.contact div a {
  width: max-content;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 16px;
  font-size: 1.2rem;
  box-shadow: inset 0 0 5px #92949c;
  border-radius: 100px;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .contact div a {
    margin: 0 auto;
  }
}
.contact div a:hover {
  transform: scale(105%);
  box-shadow: 0 0 5px #92949c;
}
.contact div a i {
  color: #525ecc;
}

/*# sourceMappingURL=style.css.map */
