<footer class="w-full bg-polarNight-400 h-auto">
    <section class="w-3/5 flex justify-between items-center gap-6 mx-auto text-snowStorm-100 py-8">
        <div>
            coucou
        </div>
        <div>
            coucou
        </div>
        <div>
            coucou
        </div>
    </section>
</footer>