{% extends 'base.html.twig' %}

{% block title %}CookingSheep • Home{% endblock %}

{% block body %}
<main class="base">
    <section class="w-full h-auto grid grid-cols-3 gap-[32px]">
        <article class="col-span-full h-[100px] rounded-lg overflow-hidden relative" >
            <img src="{{ asset('images/day_recipe.jpg') }}" alt="" class="w-full h-full object-cover">
            <div class="w-full h-full absolute top-0 left-0 text-white text-lg bg-cs_black/15 backdrop-blur-sm flex flex-col justify-center place-items-center">
                <p class="font-bold text-3xl text-cs_black">Today's discover</p>
            </div>
        </article>

        {% for recipe in recipes %}
        <a class="recipe_card" href="{{ path('recipe_show', {'id': recipe.id}) }}">
            {% if recipe.image is not null %}
                <img src="{{ asset('/uploads/'~recipe.image) }}" alt="">
            {% endif %}
            <p>{{ recipe.name }}</p>
        </a>
        {% endfor %}
    </section>
</main>
{% endblock %}
