.cards {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: $color-secondary;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 0 5px lightgrey;
  overflow: hidden;

  transition: 0.3s;

  &:hover {
    transform: scale(105%);
    z-index: 0;
  }

  img {
    width: 100%;
    height: 50%;
    object-fit: contain;
    background-color: white;
    overflow: hidden;
  }

  > div {
    padding: 24px;
    text-align: center;
    h3 {
      color: $color-primary;
    }
  
    p {
      color: $light;
    }
  }
}