.site-header {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-around;  
  place-items: center;
  box-shadow: 0 0 5px $gray;
  background-color: $dark;
    
  .site-branding {
    
    .site-logo {
      width: 250px;
      padding: 8px 32px;
      background-color: $light;
      border-radius: 100px;

      h2 {
        color: $dark;
        font-size: 2rem;
      }

      a.custom-logo-link {

        img.custom-logo {
          object-fit: contain;
        }
      }
      
    }
  }
}