.site-header {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-around;  
  place-items: center;
  box-shadow: 0 0 5px $gray;
  background-color: $color-secondary;
    
  .site-branding {
    
    .site-logo {
      width: 250px;
      img {
        object-fit: contain;
        background-color: $light;
        border-radius: 100px;
        padding: 0 16px;
      }
    }
  }
}