@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /** All buttons*/ 
    .btn-primary {
        @apply py-2 px-4 bg-white rounded shadow-inset focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 w-80;
    }
    .btn-second {
        @apply py-2 px-4 bg-white rounded shadow-md focus:outline-none w-80;
    }
    .btn-blue{
        @apply rounded-full text-center border border-primary bg-primary text-xl text-white py-[4px] px-[16px] hover:text-primary hover:bg-white hover:border hover:border-primary transition duration-300 ease-out hover:ease-in;
    }
    .btn-white{
        @apply rounded-full text-center border border-primary bg-white text-xl text-primary py-[4px] px-[16px] hover:text-white hover:bg-primary transition duration-300 ease-out hover:ease-in;
    }
    .perk-card{
        @apply w-5/6 xl:w-1/4 h-lg shadow-md hover:shadow-xl bg-white rounded p-10 m-10 relative my-20 xl:my-14 transition duration-300 ease-out hover:ease-in hover:scale-110 hover:bg-primary hover:text-white;
    }
    .btn-form{
        @apply rounded-xl text-center border shadow-md border-primary bg-primary text-xl xl:text-2xl text-white py-2 px-10 hover:text-primary hover:bg-white hover:border hover:border-primary transition duration-300 ease-out hover:ease-in;
    }
    .btn-edit {
        @apply flex justify-center place-items-center rounded-full bg-primary w-[32px] h-[32px] absolute right-8 xl:right-10 shadow-inset m-auto z-10
    }

    /** For Show pages of candidate and company */
    .profile-show {
        @apply h-auto flex flex-col gap-y-[32px]
    }
    .split-section {
        @apply flex flex-row justify-center place-items-center p-[8px] shadow-md w-full m-auto rounded bg-white highlight relative text-center text-light-blue font-title h-auto
    }
    .content-section {
        @apply h-auto flex flex-col w-10/12 xl:w-6/12 m-auto gap-y-[16px]
    }
    .subcontent-section {
        @apply h-full flex flex-col xl:flex-row justify-center place-items-center xl:justify-between gap-[16px]
    }
    .profile-card{
        @apply h-full xl:h-[300px] w-full xl:w-1/2 flex flex-col gap-y-[16px] shadow-md rounded bg-white p-[16px] place-items-center
    }
    .title {
        @apply text-light-blue font-title text-2xl text-center
    }
    .info {
        @apply flex flex-row place-items-center gap-x-[8px]
    }
    .info-p{
        @apply font-title text-xl
    }
}


html{ /* Size for desktop */
    font-size: 14px;
}


/*Underline translate left to right animation*/
.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
    padding-bottom: 5px;

}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
    padding-bottom: 5px;
}


/*Blue version*/
.blue-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#38b6ff, #38b6ff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
    padding-bottom: 5px;

}

.black-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#222, #222);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
    padding-bottom: 5px;
}

.blue-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
    padding-bottom: 5px;
}

.black-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
    padding-bottom: 5px;
}


/*Border outline animation*/
.highlight {
    position: relative;
    z-index: 0;
}

.highlight:before, .highlight:after {
    content: '';
    width: 0%;
    height: 0%;
    position: absolute;
    border-radius: 5px;
    visibility: hidden;

}

.highlight:before {
    border-top: 2px solid #38b6ff;
    border-right: 2px solid #38b6ff;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
    top: 0;
    left: 0;

}

.highlight:after {
    border-left: 2px solid #38b6ff;
    border-bottom: 2px solid #38b6ff;
    bottom: 0;
    right: 0;
    transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
}

.highlight:hover {
    animation: pulse 3s ease-out 0.4s;
}

.highlight:hover:before, .highlight:hover:after {
    width: 100%;
    height: 100%;
    visibility: visible;
}

.highlight:hover:before {
    transition: width .1s ease, height .1s ease .1s;
}

.highlight:hover:after {
    transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}




/*Border outline animation dashed version*/
.dashed-hover {
    position: relative;
    border: 2px solid gray;
    border-style: dashed;
    transition: 0.3s ease-out;
    border-radius: 1.5rem;

}

.dashed-hover:before, .dashed-hover:after {
    content: '';
    width: 0%;
    height: 0%;
    position: absolute;
    border-radius: 1.5rem;
    visibility: hidden;

}

.dashed-hover:before {
    border-top: 2px solid #38b6ff;
    border-right: 2px solid #38b6ff;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
    top: 0;
    left: 0;
    border-style: dashed;

}

.dashed-hover:after {
    border-left: 2px solid #38b6ff;
    border-bottom: 2px solid #38b6ff;
    bottom: 0;
    right: 0;
    transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
    border-style: dashed;
}

.dashed-hover:hover {
    animation: pulse 3s ease-out 0.4s;
    border: none;
    transition: 0.3s ease-in;
}

.dashed-hover:hover:before, .dashed-hover:hover:after {
    width: 100%;
    height: 100%;
    visibility: visible;

}

.dashed-hover:hover:before {
    transition: width .1s ease, height .1s ease .1s;

}

.dashed-hover:hover:after {
    transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}



/*
 *  Scrollback
 */

body::-webkit-scrollbar-track
{
    background-color: transparent;
}

body::-webkit-scrollbar
{
    width: 8px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #38B6FF;
}

.input-div{
    position: relative;
} /* necessary to give position: relative to parent. */

/*input[type="text"] {*/
/*    box-sizing: content-box;*/
/*}*/

.outline-input ~ .focus-border:before,
.outline-input ~ .focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #38b6ff;
    transition: 0.3s;
}
.outline-input ~ .focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;

}
.outline-input ~ .focus-border i:before,
.outline-input ~ .focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #38b6ff;
    transition: 0.4s;


}
.outline-input ~ .focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    border-radius: 100px;

}

.outline-input:focus ~ .focus-border:before,
.outline-input:focus ~ .focus-border:after {
    width: 100%;
    transition: 0.3s;
    border-radius: 100px;

}

.outline-input:focus ~ .focus-border i:before,
.outline-input:focus ~ .focus-border i:after {
    height: 100%;
    transition: 0.4s;
    border-radius: 100px;

}

/*Switch input*/
.switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
}

.switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 16px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked + .slider {
    background-color: #38b6ff;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*Second version*/
.slider-2 {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider-2:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 16px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked + .slider-2 {
    background-color: #2dd881;
}

input:checked + .slider-2:before {
    transform: translateX(20px);
}

.slider-2.round {
    border-radius: 34px;
}

.slider-2.round:before {
    border-radius: 50%;
}

/*wave animation*/
.wave {
    position: relative;
    display: flex;
    background-color: #fef8f2;
    overflow: hidden;
}
.wave:before, .wave:after {
    content: "";
    position: absolute;
    left: 50%;
    min-width: 300vw;
    min-height: 300vw;
    background: linear-gradient(45deg, rgba(56,182,255,1) 0%, rgba(65,56,255,1) 100%);
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.wave:before {
    bottom: 25vh;
    border-radius: 45%;
    animation-duration: 10s;
}
.wave:after {
    bottom: 20vh;
    opacity: 0.5;
    border-radius: 47%;
    animation-duration: 10s;
}
@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -2%) rotateZ(180deg);
    }
    100% {
        transform: translate(-50%, 0%) rotateZ(360deg);
    }
}

.gradient{
    background: linear-gradient(45deg, rgba(56,182,255,1) 0%, rgba(65,56,255,1) 100%);
}


/*gradient animation*/
.moving-gradient {
    background: linear-gradient(45deg, rgba(56,182,255,1) 0%, rgba(65,56,255,1) 100%);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 1540px) { /* Size for tablets */
    html{
        font-size: 10px;
    }
}
@media (max-width: 800px) { /* Size for mobile */
    html{
        font-size: 14px;
    }
}
