.under-header {
    height: 100vh;
    @include bg-img ('img/Hero_BG.png');
    color: $light;
    flex-direction: row;
    justify-content: center;

    img {
        width: 40%;
        height: auto;
        object-fit: contain;
    }

    .buttons--alternative {
        height: 55px;
    }
}

.why-us {
    > div{
        display: flex;
        justify-content: center;
        place-items: center;
        gap: 10%;
        padding-right: 100px;
        
        > div {
            width: 40%;
            
            &:first-of-type {
                display: flex;
                flex-direction: column;
                gap: 60px;
            }

            article {
                display: flex;
                gap: 30px;

                img {
                    height: 70px;
                    object-fit: contain;
                }
                
                p {
                    font-size: 1.1rem;
                    margin-top: 24px;
                }
            }

            .dot-square {
                position: absolute;
            }
        }
    }
}

.supports {
    background-color: $light-blue;
    > div{
        display: flex;
        justify-content: center;
        place-items: center;
        gap: 106px;
    }
}

.services {
    overflow: hidden;
    height: auto;
    padding-bottom: 100px;
    > div {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
        gap: 56px;
    }
}

.testimonials {
    background-color: $light-blue;

    > div {
        &:first-of-type {
            display: flex;
            justify-content: center;
            margin-top: 80px;
            gap: 131px;

            @include for-tablets {
                flex-direction: column;
            }

            article {
                display: flex;
                margin: 0 auto;
                gap: 31px;
                width: 34%;

                @include for-tablets {
                    width: 80%;
                }

                img {
                    object-fit: contain;
                    height: fit-content;
                }

                > div {
                    display: flex;
                    flex-direction: column;
                    line-height: 2;
                    
                    q {
                        font-style: italic;
                    }

                    img {
                        width: 135px;
                        margin-bottom: 24px;
                    }
                }
            }
        }

        &:last-of-type {
            display: flex;
            justify-content: center;
            gap: 22px;
            margin-top: 67px;
        }
    }
}

.clients {
    div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 148px;

        img {
            object-fit: contain;
        }
    }
    
    a {
        margin-top: 70px;
    }
}