// Set the root of portfolio
:root{
    font-size: 16px;
    font-family: 'Comfortaa';
    font-weight: 500;
}

// Import Comfortaa Regular 400
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');