{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block body %}

        <h1 class="text-3xl font-bold">Recipe index</h1>

        <div class="w-full h-auto grid grid-cols-3 auto-rows-max mx-auto gap-[16px]">
            {% for recipe in recipes %}
                <a class="recipe_card" href="{{ path('recipe_show', {'id': recipe.id}) }}">
                    {# <img src="{{ asset('images/'. recipe.image) }}" alt=""> #}
                    <p>{{ recipe.name }}</p>
                </a>
            {% else %}
                <p class="text-red-500 col-start-2 text-center font-bold text-lg bg-cs_black rounded-lg">No records found!</p>
            {% endfor %}
        </div>
        <a href="{{ path('recipe_new') }}" class="btn-classic">Create new</a>

{% endblock %}
