footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  div {
    width: 100%;
    height: auto;
    background-color: $black;
    color: $white;
  }
}

span.deco-line {
  width: 500px;
  height: 2px;
  margin: 0 auto;
  background-color: $secondary;
  z-index: 1;
}