button, .button {
    border: none;
    font-size: 1rem;
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 20px;
    background-color: $primary;
    color: $white;
    box-shadow: 0 0 5px aliceblue;
    border: 2px solid $primary;
    transition: 0.3s;
    font-family: 'Comfortaa';
    font-weight: bolder;

    &:hover {
        background-color: aliceblue;
        color: $primary;
    }
}