.cards{
    max-width: 400px;
    height: 500px;
    background-color: $primary;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px $medium;
    color: $light;
    opacity: 0;
    transition: 0.3s;

    @include query(1380px) {
        margin: 0 auto;
    }

    &:hover {
        transform: scale(102%);
    }

    div {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 16px;

        &:first-of-type{
            height: 50%;
            background-color: white;

            img{
                object-fit: contain;

                @include for-mobiles {
                    height: 200px;
                }
            }
        }

        &:last-of-type{
            padding: 16px 32px;

            p {
                text-align: center;
            }
            
            a {
                color: $dark;
                text-decoration: underline;
            }
        }
    }
}