.cards{
    max-width: 400px;
    min-height: 500px;
    background-color: $primary;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px $medium;
    color: $light;

    div {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 16px;

        &:first-of-type{
            background-color: white;

            img{
                height: 250px;
                object-fit: contain;
            }
        }

        &:last-of-type{
            padding: 16px 32px;
            
            a {
                color: $dark;
                text-decoration: underline;
            }
        }
    }
}