header {
  background-color: rgba(240, 248, 255, 0.5);
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  place-items: center;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    span {
      color: red;
    }
  }
}