@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: inherit;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.25;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

* :focus {
  outline: none;
}

@font-face {
  font-family: "Sterilict";
  src: url("../assets/fonts/Sterilict.ttf");
}
:root {
  font-size: 16px;
  font-family: "Roboto";
  color: whitesmoke;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

button {
  font-family: "Roboto";
  font-size: 14px;
  transition: 0.3s;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  border: 1px solid transparent;
}
button:hover {
  background-color: #FFE300;
  border: 1px solid black;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-family: "Sterilict", "Roboto", Tahoma, Verdana, sans-serif;
  color: #FFE300;
}

h2 {
  font-family: "Sterilict", "Roboto", Tahoma, Verdana, sans-serif;
  font-size: 18px;
}

.left {
  background-color: #202020;
  min-width: 185px;
  width: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 16px;
}
.left > div {
  position: sticky;
  top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.left > div > article ul {
  margin-top: 4px;
}
.left > div > article ul li button {
  width: 100%;
  padding: 8px 4px;
  border: 1px solid black;
  margin-bottom: -1px;
  border-radius: 0;
}
.left > div > article ul li:first-child > button {
  border-radius: 4px 4px 0 0;
}
.left > div > article ul li:last-child > button {
  border-radius: 0 0 4px 4px;
}

.active {
  background-color: #FFE300 !important;
}

.right {
  width: 85%;
  height: auto;
  background-color: #3a3a3a;
}
.right section {
  width: 100%;
  min-height: 100vh;
}
.right section > form {
  padding-top: 64px;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.right section > form textarea {
  min-width: 70vw;
  max-width: 70vw;
  min-height: 150px;
  padding: 16px;
  font-family: "Roboto";
  border-radius: 5px;
}
.right section > form button {
  width: 20%;
  margin: 32px auto;
}
.right section > p {
  width: 70vw;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #202020;
}

.search {
  width: min-content;
  display: flex;
  gap: 4px;
  padding-top: 16px;
  margin: 0 auto;
}
.search select, .search input {
  padding: 8px 16px;
  border-radius: 4px;
  color: #202020;
  font-size: 14px;
}
.search input {
  width: 500px;
}

.pages {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
  position: sticky;
  top: 16px;
}
.pages .btn-pages {
  width: 75px;
  padding: 4px 0;
}

.grid {
  margin: 64px auto;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: auto;
  grid-gap: 16px;
  justify-content: center;
}
.grid .card {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: solid 1px #FFE300;
  background-color: #FFE300;
}
.grid .card > div {
  position: absolute;
  left: 8px;
  bottom: 8px;
}
.grid .card > div h2 {
  text-shadow: #1a1a1a 1px 1px, #1a1a1a -1px 1px, #1a1a1a -1px -1px, #1a1a1a 1px -1px;
}
.grid .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  width: 100%;
}
.info .top-info {
  padding: 64px;
  display: flex;
  gap: 16px;
}
.info .top-info h2 {
  color: #FFE300;
  font-size: 24px;
}
.info .top-info img {
  width: 400px;
  height: 100%;
  min-height: 400px;
  background-color: #FFE300;
  object-fit: contain;
  border-radius: 10px;
}
.info .top-info ul {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/*# sourceMappingURL=style.css.map */
